		body{
			height: 100%;
			position: relative;
		}
		header{
			display: flex;
			width: 100%;
			z-index: 100;
			position: fixed;
			top: 0;
			left: 0;
			right:0;
			overflow: hidden;
		}
		header a{
			color:#fff
		}
		.logo{
			background-color: #ffffff;
			width: 4rem;
			height: 1.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.logo img{
			
		}
		nav{
			color: #FFFFFF;
			background-color: #000000;
			
		}
		nav ul{
			display: flex;
			align-items: flex-end;
			height: 1.4rem;
		}
		nav li{
			width: 1.27rem;
			height: 1rem;
			text-align: center;
			line-height: 1rem;
		}
		#container{
			margin-top: 1.4rem;
		}
		#tapBtn{
			display: flex;
		}
		#tapBtn li{
			width: 0.3rem;
			height: 0.3rem;
			border-radius:0.15rem;
			background-color: #FFFF00;
		}
		#imgShow{
			position: relative;
		}
		.img{
			width: 100%;
			min-height: 6rem;
			max-height: 9rem;
		}
		#imgItro{
			color: #ffffff;
			background-color: #000000;
			opacity: 0.5;
			height: 1rem;
			margin-top: -1.1rem;
			
		}
		#imgItro span{
			display: block;
			text-align: center;
			width: 2rem;
			margin: 0.1rem auto;
		}
		#videoShow{
			position: relative;
		}
		#videoShow .videoTitle{
			display: flex;
			justify-content: space-between;
			background-color: #ffffff;
			height: 0.9rem;
		}
		
		#videoShow ul:nth-child(1) span{
			line-height: 0.9rem;
			padding-left: 0.2rem;
		}
		#videoShow ul:nth-child(1) li:nth-child(1){
			font-size: 30px;
		}
		#videoShow ul:nth-child(1) li:nth-child(2){
			font-size: 26px;
			color:#7f7d7d;
			padding-right: 0.2rem;
		}
		.videoList{
			position: absolute;
			top: 0.9rem;
			right: 0;
			background-color: #000000;
			display: none;
		}
		.videoList li{
			line-height: 0.8rem;
			font-size: 26px;
			color:#FFFFFF;
			padding-left: 0.2rem;
			padding-right: 0.2rem;
			border-bottom: 2px solid #CCCCCC;
		}
		.glyphicon{
			top:4px;
		}
		
		.box{
			width: 100%;
			height: 5.9rem;
			border: 1px solid #FFFF00;
			background-color: #2c2c2c;
		}
		.box p{
			color: #f4e446;
			font-size: 32px;
			margin: 0.34rem;
		}
		.video_intro{
			margin-left: 0.1rem;
		}
		.video_box{
			width: 90%;
			height: 70%;
			margin: 0 auto;
			background-color: #000000;
		}
		.video{
			width: 100%;
			height: 100%;
		}
		.intro{
			padding: 0.33rem;
			
		}
		.bus li{
			display: flex;
			margin-top: 0.4rem;
			
		}
		.intro_img {
			width:1.7rem;  
			height: 1.5rem;
			background-color: #CCCCCC;
		}
		.intro_img canvas{
			width:1.7rem;  
			height: 1.5rem;
		}
		.intro_intro{
			width:8.4rem;
			margin-left: 0.34rem;
		}
		.intro_intro h2{
			font-size: 30px;
			margin-top: 0.1rem;
			margin-bottom: 0.3rem;
		}
		.intro_intro span{
			font-size: 28px;
		}
		.intro_fir,.intro_sec{
			font-size: 20px;
			line-height: 0.8rem;
			font-weight: 600;
			
		}
		.intro_fir{
			font-style: italic;
			padding-bottom: 0.1rem;
			border-bottom: 0.05rem solid #f5494d;
		}
		.intro_sec{
			color: #f5494d;
		}
		.photo{
			position: absolute;
			right: 0.33rem;
			font-size: 26px;
			padding-top: 0.2rem;
			color: #F2EA41;
			
		}
		.photo a{
			color: #F4E446
		}
		.artist_per{
			width:4rem;
			height: 5rem;
			background-color: #00C1B3;
		}
		.artist_per:nth-child(2n){
			margin: 0.4rem 0 0 0.4rem;
		}
		.artist_per:nth-child(2n-1){
			margin: 0.4rem 0.4rem 0 0;
		}
		#artist{
			
		}
		#artist section{
			width: 8.9rem;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: 0 auto;
		}
		
		.box_add{
			width: 100%;
			height: 4.2rem;
			background-color: #7F7D7D;
		}
		.company_img{
			width: 5.2rem;
			height: 3.6rem;
			margin: 0.4rem auto;
		}
		.company_intro h1{
			font-size: 24px;
			font-weight: 500;
			margin: 0.4rem 0;
		}
		.company ul li{
			font-size: 18px;
			color: #545151;
		}
		.company ul li span{
			line-height: 0.4rem;
		}
		.company li span:nth-child(1){
			top: 0.1rem;
			color: #e36d6d;
		}
		.company li span:nth-child(2){
			font-size: 14px;
			margin-left: 0.3rem;
		}
		.foot{
			background: #2e2929;
			box-shadow: 0 -0.1rem 0.1rem #2e2929;
			
		}
		.title{
			width: 80%;
			height: 2.8rem;
			color: #efe5e5;
			margin: 0 auto;
			padding-bottom: 0.4rem;
			border-bottom: 2px solid #efe5e5;
			font-size: 32px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		.title p{
			width: 88%;
			line-height: 1rem;
			margin-top: 0.2rem;
		}
		.title img{
			width: 3.4rem;
			height: 1.3rem;
		}
		.address{
			width: 80%;
			margin: 0.18rem auto;
			font-size: 0.2rem;
		}
		.address span{
			line-height:0.9rem;
			color: #EFE5E5;
		}
		.address em{
			color: #f5494d;
		}
		.wechat_intro{
			font-size: 26px;
			width: 2.8rem;
			margin: 0.2rem auto;
			color: #EFE5E5;
		}
		.wechat{
			border: 1px solid red;
			width: 2.6rem;
			height: 2.6rem;
			margin: 0.1rem auto;
		}
		.bottom{
			height: 1rem;
			background: #f2ea41;
			font-size: 26px;
			padding: 0.3rem 0.2rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			
		}
		#large_wrap{
			position: absolute;
			width: 100%;
			background: rgba(0,0,0,0.5);
			top: 0;
			bottom: 0;
			display: none;
		}
		.largeCanvas{
			width:90%;
			margin: 20% 5% 10% 5%;
			height: 12.4rem;
			background-color: #2c2c2c;
			border-radius:20px;
			position: fixed;
			color: #fff;
			
		}
		#large_header{
			height: 6%;
			border: 1px solid red;
			margin: 3%;
			font-size: 38px;
			display: flex;
			justify-content: space-between;
		}
		.turn{
			width: 16%;
			border: 1px solid red;
			display: flex;
			justify-content: space-between;
		}
		.img_wrap{
			margin: 3%;
			height: 85%;
			border: 1px solid #fff;
			overflow: auto;
		}
		.img_wrap img{
			width: 100%;
			height: 7.6rem;
			border: 1px solid red;
		}
		.img_wrap p{
			
		}
		.img_wrap h3{
			font-size: 48px;
			line-height: 1rem;
			border: 1px solid red;
		}
		.img_intro{
			display: flex;
			justify-content: space-between;
		}
		.img_intro span{
			width: 40%;
			border: 1px solid red;
		}
		.show{
			display: block;
		}
		.hide{
			display: none;
		}
